<head>
    <meta charset="utf-8" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <style>
        .custom-font {
            font-family: fantasy, fantasy; 
        }
    </style>
</head>


@model MyPokemonApplication.Models.Pokemon

<h2 class="custom-font">@Model.Name</h2>

<h3 class="custom-font">Moves</h3>
<ul>
    @foreach (var move in Model.Moves)
    {
        <li class="custom-font">@move</li>
    }
</ul>

<h3 class="custom-font">Abilities</h3>
<ul>
    @foreach (var ability in Model.Abilities)
    {
        <li class="custom-font">@ability</li>
    }
</ul>

@{
    var prevDisabled = ViewBag.Page == 1 ? "disabled" : "";
    var nextDisabled = ViewBag.Page == ViewBag.TotalPages ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link" href="@Url.Action("Index", "Pokemon", new { page = ViewBag.Page - 1 })">Previous</a>
        </li>
        <li class="page-item @nextDisabled">
            <a class="page-link" href="@Url.Action("Index", "Pokemon", new { page = ViewBag.Page + 1 })">Next</a>
        </li>
    </ul>
</nav>
