@model IEnumerable<MyPokemonApplication.Models.Pokemon>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<h2>Pokemon List</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Pokemon", new { name = pokemon.Name })">
                        @pokemon.Name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="@Url.Action("Index", "Pokemon", new { page = ViewBag.Page - 1 })">Previous</a>
    <span>@ViewBag.Page</span>
    <a href="@Url.Action("Index", "Pokemon", new { page = ViewBag.Page + 1 })">Next</a>
</div>
